select {
  width: 190px;
  display: block;
  margin-top: 8px;
  border: 2px solid $bright-blue;
  background-color: $almost-black;
  color: white;
  padding: 3px;

  &:focus {
    outline: none;
  }
}