input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  // Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid $bright-blue;
    background-color: $almost-black;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -9px;
  }
  
  &::-moz-range-thumb {
    border: 2px solid $bright-blue;
    background-color: $almost-black;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  // Track
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: $bright-blue;
  }
  
  &:focus::-webkit-slider-runnable-track {
    background: darken($bright-blue, 40%);
  }
  
  &::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: $bright-blue;
  }
}

