.App {
  text-align: center;
}

.container {
  min-height: 50vh;
}

.settingsBar > div {
  width: 50%;
  display: inline-block;
}

.key {
  display: inline-block;
  width: 30px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
  transition: background-color ease .3s;

  &:hover {
    background-color: grey;
  }
}